DB_HOST='localhost' 
DB_DATABASE='magnes' 
DB_USER='magnesDB'  
DB_PASSWORD='Magnes#2026'
DB_PORT=3306
AWS_REGION=us-east-1

APP_PORT=3333
APP_HOST=localhost

AWS_REGION=us-east-1
S3_BUCKET_NAME=bucket-csv-329272180750-us-east-1-an
PORT=3000

JIRA_BASE_URL=https://magnessolutions.atlassian.net
JIRA_EMAIL=magnessolutions@gmail.com
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=KM
JIRA_JQL=project = KM AND status in ("TO DO", "IN PROGRESS", "DONE") ORDER BY updated DESC
