DB_HOST='52.87.200.38' 
DB_DATABASE='magnes' 
DB_USER='magnesDB' 
DB_PASSWORD='Sptech@2024' 
DB_PORT=3306
AWS_REGION=us-east-1

APP_PORT=3333
APP_HOST=localhost


JIRA_EMAIL=seu-k1leg4l@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0aQE9-vGycapY7rh1t9tkho4w9dVefGaVjJozmfysP7jZy-Kc0c3RgG5TYcsOYLafA6ov4aPNMn84TWcAk2oDKmmizdGfIGb6n06uhts7zJcwV13vP4CNFUJEfTVtwKVBfzvS-SOaOpAQk3EIN6FrpodkQbnX8d6cEfWItVOi8TM=D03ED0ED
JIRA_BASE_URL=https://sptech-team-zx1nvla7.atlassian.net
JIRA_PROJECT_KEY=KAN
JIRA_JQL=project = KAN ORDER BY updated DESC