DB_HOST='' 
DB_DATABASE='' 
DB_USER='' 
DB_PASSWORD=''
DB_PORT=3306

APP_PORT=3333
APP_HOST=localhost

AWS_REGION=
S3_BUCKET_NAME=
aws_access_key_id=
aws_secret_access_key=
aws_session_token=
PORT=3000