body {
    height: 100dvh;
}

.div-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.div-titulo img{
    width: 30px;
    color: white;
    cursor: pointer;
}

.titulo-cadastro {
    margin: 20px;
    font-weight: bold;
    font-family: poppins;
    justify-self: center;
    color: white;
}

.cards-cadastro {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cards-cadastro h3 {
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
    color: var(--cor02);
}

.cards-cadastro svg {
    fill: var(--cor02);
}

.card-fabricante, .card-funcionário {
    padding: 20px;
    background-color: #FBFBFB;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.card-fabricante:hover, .card-funcionário:hover {
    scale: 1.3;
    background-color: #fbfbfbd1;
} 

.banner-cadastro {
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(../assets/imgs/cadastro-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-form {
    min-height: calc(100vh - 69.09px);
    height: fit-content;
    height: 100%;
}

#form_funcionario {
    
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
    width: 100%;
    height: fit-content;
    padding: 0px 60px;

};

#form_fabricante {
    display: flex;
    background-color: #477DBF;
    flex-direction: row;
    /* gap: 0px; */
    width: 90%;
    /* height: fit-content; */
    /* padding: 0px 60px; */
    display: flex;
    border: 2px solid red;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

};

.form-fabricante-col-1 {
    display: flex;
    flex-direction: column;    
}

