
.titulo-cadastro {
    margin: 20px;
    font-weight: bold;
    font-family: poppins;
    justify-self: center;
    color: white;
}

.cards-cadastro {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cards-cadastro h3 {
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
    color: var(--cor02);
}

.cards-cadastro svg {
    fill: var(--cor02);
}

.card-fabricante, .card-funcionário {
    padding: 20px;
    background-color: #FBFBFB;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.card-fabricante:hover, .card-funcionário:hover {
    scale: 1.3;
    background-color: #fbfbfbd1;
} 

.banner-cadastro {
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(../assets/imgs/cadastro-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}