.corpo {
    padding: 50px 40px;
}

.corpo .tituloCorpo {
    color: white;
    margin-bottom: 5%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.cardCard {
    background-color: #132943;
    border-radius: 16px;
    width: 20%;
}

.bodyKpi {
    padding: 25px;
}

.bodyKpi p {
    color: #7a92b0;
    margin: 0px;
    font-size: 16px;
}

.kpiImg {
    border-radius: 16px;
    border: solid 3px;
    padding: 7%;
    display: flex;
    justify-content: center;
    width: 30%;
    height: fit-content;
    margin-bottom: 20px;
}

.kpiTextos {
    display: flex;
    flex-direction: column;
}

/* Card Azul */
.kpiAzul {
    background: linear-gradient(
      135deg,
      #104c68,
      #123550
    );
    border-color: #0e5875;
}

.kpiAzul img {
    filter: invert(78%) sepia(92%) saturate(2854%) hue-rotate(162deg) brightness(101%) contrast(104%);
    width: 100%;
}
.numeroAzul {
    color: #00d4f9;
    margin: 10px 0px;
    font-weight: bold;
}


/* Card verde */
.kpiVerde {
    background: linear-gradient(
      135deg,
      #105352,
      #123c4a
    );
    border-color: #0e6357;
}

.kpiVerde img {
    filter: invert(64%) sepia(84%) saturate(436%) hue-rotate(103deg) brightness(104%) contrast(101%);
    width: 100%;
}

.numeroVerde {
    color: #00ff88;
    margin: 10px 0px;
    font-weight: bold;
}

/* Card Amarelo */
.kpiAmarelo {
    background: linear-gradient(
      135deg,
      #3e4a3a,
      #243740
    );
    border-color: #515733;
}

.kpiAmarelo img {
    filter: invert(78%) sepia(78%) saturate(1887%) hue-rotate(8deg) brightness(103%) contrast(105%);
    width: 100%;
}

.numeroAmarelo {
    color: #ffd500;
    margin: 10px 0px;
    font-weight: bold;
}

/* Card Vermelho */
.kpiVermelho {
    background: linear-gradient(
      135deg,
      #3e2e4c,
      #232a46
    );
    border-color: #512d4d;
}

.kpiVermelho img {
    filter: invert(41%) sepia(96%) saturate(2103%) hue-rotate(321deg) brightness(101%) contrast(101%);
    width: 100%;
}

.numeroVermelho {
    color: #ff3366;
    margin: 10px 0px;
    font-weight: bold;
}