@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400..700;1,400..700&family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

body {
    /* overflow-x: hidden; */
    height: 100dvh;
    /* overflow: hidden; */
}

:root {
    --cor00: #7A32CC;
    --cor01: #FBFBFB;
    --cor02: #124685;
    --cor03: #477DBF;
}



nav {
    background-color: rgba(0, 0, 0, 0.823);
    font-family: "Poppins", sans-serif;
}


.navbar-nav .nav-link.active {
    color: var(--cor01) !important;
    font-weight: 600;
}

.navbar-brand img {
    width: 55px;
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: var(--cor02);
    transition: color 0.3s;
}

.nav-item a:hover {
    color: var(--cor01);
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--cor01);
    transition: width 0.4s ease-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

nav .line {

    background-color: var(--cor02);
    width: 3px;
    height: 25px;
    border-radius: 5px;
    margin: 0 25px;
    align-self: center;
}

nav button {
    background-color: var(--cor02) !important;
}

/* FIM NAVBAR */

.div-banner {
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(../assets/imgs/rm2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-form {
    background-color: #124685;
    min-height: calc(100vh - 69.09px);
}

.form-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-login h1 {
    font-family: "Poppins", sans-serif;
    color: #FBFBFB;
    font-weight: 600;
}

.form-login label {
    color: #FBFBFB;
    padding: 0px 0px 0px 10px;
    font-weight: bolder;
}

.form-login div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 0px 60px;
}

.form-login button {
    display: flex;
    font-size: medium;
    font-weight: bold;
    font-family: poppins;
    color: #124685;
    background-color: #FBFBFB;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s;

}

.form-login button:hover {
    scale: 1.1;
    background-color: #fbfbfbd1;
    
}

.form-login div span input {
    outline: none;
    height: 30px;
    font-size: smaller;
    font-family: poppins;
    padding: 5px;
    color: #124685;
}

.form-login div span input:focus {
    color: #124685;
    outline: none;
}


