@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400..700;1,400..700&family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

body {
    overflow-x: hidden;
}

:root {
    --cor00: #7A32CC;
    --cor01: #FBFBFB;
    --cor02: #124685;
    --cor03: #477DBF;
}



nav {
    background-color: rgba(0, 0, 0, 0.315);
    font-family: "Poppins", sans-serif;
}


.navbar-nav .nav-link.active {
    color: var(--cor01) !important;
    font-weight: 600;
}

.navbar-brand img {
    width: 55px;
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: var(--cor02);
    transition: color 0.3s;
}

.nav-item a:hover {
    color: var(--cor01);
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--cor01);
    transition: width 0.4s ease-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

nav .line {

    background-color: var(--cor02);
    width: 3px;
    height: 25px;
    border-radius: 5px;
    margin: 0 25px;
    align-self: center;
}

nav button {
    background-color: var(--cor02) !important;
}

/* fim da navbar  */

.inicial {
    display: flex;
    background-size: cover;
    position: relative;
}

.inicial-video {
    width: 100%;
    height: 700px;
}

.inicial-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px) brightness(45%);
    transition: filter 0.3s ease;
}

.inicial-texto {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 50px;
    top: 260px;
    left: 60px;
    color: white;
}

.inicial-texto p {
    margin-bottom: -30px;
}

/* INICIO CARDS */

.container_cards {
    width: 100%;
    height: auto;
    margin-top: 5vw;
}

.texto-cards h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 600;
}

.texto-cards2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 1vw;
}

.card {
    background-color: var(--cor03);
}

/* INÍCIO SOBRE NÓS */

.container_us {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 2vw;
}

/* .container_alltext_us {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    justify-content: center;
    align-items: center;
} */

/* .container_img_us {
    margin-right: 40px;
} */

.img_us img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    max-width: 420px;
    display: block;
}


.container_title_us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_title_us h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
}



/* FIM SOBRE NÓS */

/*Início Footer*/
footer {
    background-color: var(--cor02);
}

footer .col-md-4 {
    color: var(--cor01);
}

.containerfooter .nav-item a {
    color: var(--cor01);
}