@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400..700;1,400..700&family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

:root{
    --cor00: #7A32CC;
  --cor01: #FBFBFB;
  --cor02: #124685;
  --cor03: #477DBF;
}



nav{
    background-color: rgba(0, 0, 0, 0.315);
    font-family: "Poppins", sans-serif;
}


.navbar-nav .nav-link.active {
    color: var(--cor01) !important;
    font-weight: 600; 
}

.navbar-brand img{
    width: 55px;
}

.navbar-nav .nav-link{
    position: relative;
    text-decoration: none;
    color: var(--cor02);
    transition: color 0.3s;
}

.nav-item a:hover{
    color: var(--cor01);
}

.navbar-nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--cor01);
    transition:  width 0.4s ease-out;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
nav .line{

    background-color: var(--cor02);
    width: 3px;
    height: 25px;
    border-radius: 5px;
    margin: 0 25px;
    align-self: center;
}

nav button{
    background-color: var(--cor02) !important;
}